
body {
    background-color: burlywood;
    font-family: Arial, sans-serif;
  }
   
  .header {
    color: blanchedalmond;
    text-align: center;
  }
  

  .description {
    color: black;
    padding: 15px;
    border-radius: 5px;
    line-height: 1.6;
  }

  
  